definitions/fleet-restart-controller.json
{
  "Comment": "Controller to launch Fleet Restart State Machine in bulk.",
  "StartAt": "Get Fleets",
  "States": {
    "Get Fleets": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:appstream:describeFleets",
      "Arguments": {},
      "Output": {
        "Fleets": "{% $type($states.result.Fleets) = 'array' ? $states.result.Fleets[State='RUNNING'].Name : ($type($states.result.Fleets) = 'object' and $states.result.Fleets.State = 'RUNNING' ? [$states.result.Fleets.Name] : []) %}"
      },
      "Next": "Check Fleet Type"
    },
    "Check Fleet Type": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $type($states.input.Fleets) = 'array' %}",
          "Next": "ForEach Fleet"
        }
      ],
      "Default": "Handle Single Fleet"
    },
    "ForEach Fleet": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Step Functions StartExecution",
        "States": {
          "Step Functions StartExecution": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Arguments": {
              "StateMachineArn": "${fleet_restart_sfn_state_machine_arn}",
              "Input": {
                "Name": "{% $states.input %}"
              }
            },
            "End": true
          }
        }
      },
      "Items": "{% $states.input.Fleets %}",
      "MaxConcurrency": 40,
      "End": true
    },
    "Handle Single Fleet": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${fleet_restart_sfn_state_machine_arn}",
        "Input": {
          "Name": "{% $states.input.Fleets %}"
        }
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
